/* Type */

body, input, select, textarea {
	color: _palette(grey, 700);
	font-family: _font(family);
	font-size: 20px;
	font-weight: _font(weight);
	line-height: 1.5;

	//@include breakpoint(xlarge) {
	//	font-size: 11pt;
	//}
	//
	//@include breakpoint(large) {
	//	font-size: 11pt;
	//}
	//
	//@include breakpoint(medium) {
	//	font-size: 12pt;
	//}
	//
	//@include breakpoint(small) {
	//	font-size: 12pt;
	//}
	//
	//@include breakpoint(xsmall) {
	//	font-size: 12pt;
	//}
}

a {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

strong, b {
	color: _palette(dark-shade, base);
	font-weight: _font(weight-bold);
}

em, i {
	font-style: italic;
}

p {
	font-size: 1em; /* 20px */
	line-height: 1.5em; /* 30px */
	margin: 0 0 1.5em 0;
}

dfn, cite, em, i {
	font-style: italic;
}

sub {
	font-size: 0.75em;
	position: relative;
	top: 0.5em;
	line-height: 1;
}

sup {
	font-size: 0.75em;
	position: relative;
	top: -0.5em;
	line-height: 1;
}

big {
	font-size: 125%;
	line-height: 1;
}

blockquote {
	border-left: solid (_size(border-width) * 4) _palette(grey,300);
	font-style: italic;
	//margin: 0 0 _size(element-margin) 0;
	//padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
	padding: .75em 1em;
	margin-bottom: 1.5em;
	p {
		margin: .75em 0 .75em 0;
	}
}

code {
	background: _palette(dark-shade, base);
	color: _palette(light-shade, base);
	border-radius: _size(border-radius);
	//border: solid _size(border-width) _palette(grey,300);
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
	line-height: 1;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: _font(family-fixed);
	font-size: 0.9em;
	line-height: 1.7;
	margin: 0 0 _size(element-margin) 0;

	code, kbd, tt, var {
		display: block;
		padding: 1em 1.5em;
		overflow-x: auto;
		line-height: 1;
	}
}

address {
	margin: 0 0 1.5em;
}

hr {
	border: 0;
	border-bottom: solid _size(border-width) _palette(grey,300);
	margin: _size(element-margin) 0;

	&.major {
		margin: (_size(element-margin) * 1.5) 0;
	}
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	text-decoration: none;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}
