h1, h2, h3, h4, h5, h6 {
	color: _palette(dark-shade, light);
	font-weight: _font(weight-bold);
	line-height: 1.5;
	margin: 0 0 (_size(element-margin) * 0.5) 0;
	clear: both;

	a {
		color: inherit;
		text-decoration: none;
	}
}


h1 {
	font-size: 2em;
	/* 2x body copy size = 32px */
	line-height: 1.25;
	/* 45px / 36px */
}

@include breakpoint(medium) {
	h1 {
		font-size: 2.5em;
		/* 2.5x body copy size = 40px */
		line-height: 1.125;
	}
}

@include breakpoint(large) {
	h1 {
		font-size: 3em;
		/* 3x body copy size = 48px */
		line-height: 1.05;
		/* keep to a multiple of the 20px line height and something more appropriate for display headings */
	}
}

h2 {
	font-size: 1.625em;
	/* 1.625x body copy size = 26px */
	line-height: 1.15384615;
	/* 30px / 26px */
}

@include breakpoint(medium) {
	h2 {
		font-size: 2em;
		/* 2x body copy size = 32px */
		line-height: 1.25;
	}
}

@include breakpoint(large) {
	h2 {
		font-size: 2.25em;
		/* 2.25x body copy size = 36px */
		line-height: 1.25;
	}
}

h3 {
	font-size: 1.375em;
	/* 1.375x body copy size = 22px */
	line-height: 1.13636364;
	/* 25px / 22px */
}

@include breakpoint(medium) {
	h3 {
		font-size: 1.5em;
		/* 1.5x body copy size = 24px */
		line-height: 1.25;
	}
}

@include breakpoint(large) {
	h3 {
		font-size: 1.75em;
		/* 1.75x body copy size = 28px */
		line-height: 1.25;
	}
}

h4 {
	font-size: 1.125em;
	/* 1.125x body copy size = 18px */
	line-height: 1.11111111;
}

@include breakpoint(medium) {
	h4 {
		line-height: 1.22222222;
		/* (22px / 18px */
	}
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.7em;
}