$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Base colors
$light-shade: #F6FAFB;  // Catskill White
$light-accent: #C4B1AC; // Silk
$base: #E03B33;         // Cinnabar
$dark-accent: #F4A017;  // Fuel Yellow
$dark-shade: #252C41;   // Ebony Clay
$black: #000;

// Palette.
$palette: (

		light-shade: (
				base: $light-shade,
				light: tint( $light-shade, 20% ),
				dark: shade( $light-shade, 20% ),
		),
		light-accent: (
				base: $light-accent,
				light: tint( $light-accent, 20% ),
				dark: shade( $light-accent, 20% ),
		),
		brand-primary: (
				base: $base,
				light: tint( $base, 20% ),
				dark: shade( $base, 20% ),
		),
		dark-accent: (
				base: $dark-accent,
				light: tint( $dark-accent, 20% ),
				dark: shade( $dark-accent, 20% ),
		),
		dark-shade: (
				base: $dark-shade,
				light: tint( $dark-shade, 20% ),
				dark: shade( $dark-shade, 20% ),
		),
		grey: (
			100: #f5f5f5, // HTML WhiteSmoke
			200: #DCDCDC, // HTML Gainsboro
			300: #D3D3D3, // HTML LightGray
			400: #C0C0C0, // HTML Silver
			500: #A9A9A9, // HTML DarkGray (Yep, it's really lighter than Gray)
			600: #808080, // HTML Gray
			700: #606060,
			800: #404040,
			900: #202020,
		),
);