// Base colors
$light-shade:	#F6FAFB !default;	// Catskill White
$light-accent:	#C4B1AC !default;	// Silk
$brand-primary:	#E03B33 !default;	// Cinnabar
$dark-accent:	#F4A017 !default;	// Fuel Yellow
$dark-shade:	#252C41 !default;	// Ebony Clay

// Greys
$white:			#fff;
$grey-100:		#f8f9fa; 
$grey-200:		#e9ecef;
$grey-300:		#dee2e6;
$grey-400:		#ced4da;
$grey-500:		#adb5bd;
$grey-600:		#868e96;
$grey-700:		#495057;
$grey-800:		#343a40;
$grey-900:		#212529;
$black:			#000;

// Palette
$palette: (
		light-shade: (
				base: $light-shade,
				light: tint( $light-shade, 20% ),
				dark: darken( $light-shade, 20% ),
		),
		light-accent: (
				base: $light-accent,
				light: tint( $light-accent, 20% ),
				dark: shade( $light-accent, 20% ),
		),
		brand-primary: (
				base: $brand-primary,
				light: lighten( $brand-primary, 20% ),
				dark: shade( $brand-primary, 20% ),
		),
		dark-accent: (
				base: $dark-accent,
				light: lighten( $dark-accent, 20% ),
				dark: darken( $dark-accent, 20% ),
		),
		dark-shade: (
				base: $dark-shade,
				light: lighten( $dark-shade, 20% ),
				dark: darken( $dark-shade, 20% ),
		),
		grey: (
			100: #f8f9fa, 
			200: #e9ecef,
			300: #dee2e6,
			400: #ced4da,
			500: #adb5bd,
			600: #868e96,
			700: #495057,
			800: #343a40,
			900: #212529,
		),
);

$color__background-hr: $grey-400;
$color__background-button: $grey-200;
$color__background-pre:  $grey-200;
$color__background-ins: $light-accent;

$color__text-main: $dark-shade;
$color__text-screen: $dark-shade;
$color__text-input: $grey-700;
$color__text-input-focus: $grey-900;

$color__link: $dark-accent;
$color__link-visited: lighten( $dark-accent, 20% );
$color__link-hover: $brand-primary;

$color__border-button: $grey-300 $grey-300 $grey-500;
$color__border-button-hover: $grey-300 $grey-500 $grey-400;
$color__border-button-focus: $grey-400 $grey-500 $grey-500;
$color__border-input: $grey-400;
$color__border-abbr: $grey-700;