
/* Type */

body, input, select, textarea {
	color: _palette(fg);
	font-family: _font(family);
	font-size: 13pt;
	font-weight: _font(weight);
	line-height: 1.65;

	@include breakpoint(xlarge) {
		font-size: 11pt;
	}

	@include breakpoint(large) {
		font-size: 11pt;
	}

	@include breakpoint(medium) {
		font-size: 12pt;
	}

	@include breakpoint(small) {
		font-size: 12pt;
	}

	@include breakpoint(xsmall) {
		font-size: 12pt;
	}
}

a {
	color: _palette(accent1, bg);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

strong, b {
	color: _palette(fg-bold);
	font-weight: _font(weight-bold);
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 _size(element-margin) 0;
}

dfn, cite, em, i {
	font-style: italic;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

big {
	font-size: 125%;
}

blockquote {
	border-left: solid (_size(border-width) * 4) _palette(border);
	font-style: italic;
	margin: 0 0 _size(element-margin) 0;
	padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
}

code {
	background: _palette(border-bg);
	border-radius: _size(border-radius);
	border: solid _size(border-width) _palette(border);
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0 _size(element-margin) 0;

	code, kbd, tt, var {
		display: block;
		line-height: 1.75;
		padding: 1em 1.5em;
		overflow-x: auto;
	}
}

address {
	margin: 0 0 1.5em;
}

hr {
	border: 0;
	border-bottom: solid _size(border-width) _palette(border);
	margin: _size(element-margin) 0;

	&.major {
		margin: (_size(element-margin) * 1.5) 0;
	}
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}
