// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Footer */

	#footer {
		@include padding(3em, 0);
		background: #f2f2f2;

		.copyright {
			color: _palette(light-accent, base);
			font-size: 0.5628em; /* 11.256px */
			line-height: 2.6652em; /* 30px */
			margin-top: 2.6652em;
			margin-bottom: 0;
			//padding: 0;
			text-align: center;

			li {
				border-left: solid _size(border-width) _palette(grey,300);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		@include breakpoint(small) {
			@include padding(3em, 0);

			.copyright {
				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}